body {
    margin: 0;
}
.resume-section-content {
    width: 100%;
  }
  
.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

/* rtl:end:remove */
.text-primary {
    opacity: 1 !important;
    color: #bd5d38 !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex-md-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.d-md-flex {
    display: flex !important;
}

/* 프로필 이미지 */

#porfile-img {
    float:left;    
    width: 150px;
    height: 170px;
    border: 3px solid white;
    /* transform: scale(1); */
    /* border-radius: 70%; */
}

.menu-bar {
    position: fixed;
    border: 0;
    background-color: #CED8F6;
    display: block;
    width: 200px;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

.index {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* 목차 */
.index h3 {
    color: black;
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}

/* 목차각 항목 반응형 커서 */
.index h3:hover {
    font-size: 1.1em;
    opacity: 1;
    text-shadow: 0.5px 0.5px 0.5px white;
}

section {
    margin-left: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

p {
    margin: 0;
}

.name {

    font-size: 65px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

.contacts {

    font-size: 15px;
    opacity: 0.5;
    font-family: 'Roboto Mono', monospace;
    font-style:normal;
}

.main-introduction {

    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0.8;
}

